{% extends "base.html.twig" %}
{% block body %}
        <div class="row">
            <div class="col-lg-12">
                <h1>Page utilisateur test</h1>
                <p>Vous êtes un 
                    {% if is_granted('ROLE_ADMIN') %}
                        <strong>administrateur</strong>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <strong>client</strong>
                    {% endif %}
                    <p><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></p>
                </p>
                <p>
                     <ul>
                        <li>Identifiant : {{ app.user.id }}</li>
                        <li>Nom : {{ app.user.username }}</li>
                        <li>
                            Rôles :
                            <ul>
                                {% for role in app.user.roles %}
                                    <li>{{ role }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </p>
                <p>
                    Variable app de twig :
                </p>
                <p>
                   {{ dump(app.user) }} 
                   
                <p>
            </div>
        </div>
{% endblock %}
